*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #4cafe3;
	background-image: url(../img/fondo-nube.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	font-size: 16px;
}

header, section{
	margin: 0 auto;
	width: 1000px;
}


/*-- CABECERA CON MENU --*/
nav{
	/*background-color: yellow;*/
	display: block;
	font-family: "bignoodletitlingregular", arial;
	font-size: 2em;
	height: 155px;
	padding: 10px;
	width: 980px;
	margin-bottom: 10px;
}

ul{
	list-style: none;
}

ul li a{
	/*background-color: red;*/
	color: white;
	display: block;
	padding: 10px 30px 5px 30px;
	text-decoration: none;
}

.menuDesplegable > li{
	float: left;
	margin-top: 50px;
}

li:nth-child(3){ 
	margin-top: 0 !important;
}

ul li a:hover{
	text-decoration: underline;
}

.menuDesplegable li ul{
	display: none;
	font-size: 0.8em;
	position: absolute;
	min-width: 148px;
	text-align: center;
}

.menuDesplegable li:hover > ul{
	display: block;
}

.menuDesplegable li ul li {
	position: relative;
}

.menuDesplegable li ul li ul{
	font-size: 1em;
	right: -148px;
	top: 0;
}

.menuDesplegable li ul li a{
	background-color: #4cafe3;
	border-bottom: 1px solid #3ea2d7;
}

.menuDesplegable li ul li a:hover{
	background-color: #eb8222;
	text-decoration: none;
}

.logotipo{
	margin: 0 40px;
}


/*-- CUERPO / INFO --*/
section{
	font-family: 'oswaldlight', arial;
	color: white;
	letter-spacing: 0.01em;
}

.plantilla{
	overflow: hidden;
	background-image: url(../img/plantilla.png);
	height: 456px;
	margin: 0 auto;
	width: 844px;
	margin-bottom: 100px;
}

.crear{
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 10px;
	color: #3d48a9;
	font-size: 1.8em;
	width: 380px;
	padding: 20px;
	border: 2px solid #3d48a9;
}

.crear a{
	color: #3d48a9;
}

.seleccionar{
	background-color: #eb8222; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhYTgyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iI2ViODIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWE4MjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eaa824 0%, #eb8222 79%, #eaa824 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaa824), color-stop(79%,#eb8222), color-stop(100%,#eaa824)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaa824 0%,#eb8222 79%,#eaa824 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaa824 0%,#eb8222 79%,#eaa824 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaa824 0%,#eb8222 79%,#eaa824 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaa824 0%,#eb8222 79%,#eaa824 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaa824', endColorstr='#eaa824',GradientType=0 ); /* IE6-8 */

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	display: block;
	margin: 0 auto;
	width: 230px;
	color: white;
	font-family: 'oswaldlight', arial;
	font-size: 1.1em;
	padding: 10px 15px;
	text-decoration: none;
	text-align: center;
}

.seleccionar:hover{
	background-color: #fcac1c;
}

/*-- PAGINA DIRIGIBLE PERSONALIZADO --*/
.customizado{
	overflow: hidden;
	background-image: url(../img/plantilla2.png);
	height: 456px;
	margin: 0 auto;
	width: 844px;
	position: relative;
}

.logoCliente{
	display: block;
	height: 368px;
	position: absolute;
	top: 0;
	left: 0;
	width: 844px;
}

.logoCliente img{
	max-height: 368px;
	display: block;
	margin: 0 auto;
	margin-top: 80px; /*--CORRIGE ESTO PORFA--*/
}

.efectoVolumen{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.contactanos{
	text-align: center;
	margin: 0 auto;
	margin-top: -50px;
	margin-bottom: 20px;
	color: #3d48a9;
	font-size: 1.8em;
	width: 600px;
	padding: 20px;
	border: 2px solid #3d48a9;
}

.contactanos a{
	color: #3d48a9;
}

.cajaFormulario{

	display: block;
	height: auto;
	margin: 0 auto;
	margin-bottom: 100px;
	width: 644px;
}

.campo{
	border: 0;
	padding: 12px;
	width: 340px;
	color: #3d48a9;
}

*::-webkit-input-placeholder{
    color: #3d48a9;
}
*:-ms-input-placeholder{
    color: #3d48a9;
}
*:-moz-placeholder{
    color: #3d48a9;
}
*::-moz-placeholder{
    color: #3d48a9;
}

.btn{
	background-color: #eb8222; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhYTgyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iI2ViODIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWE4MjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eaa824 0%, #eb8222 79%, #eaa824 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaa824), color-stop(79%,#eb8222), color-stop(100%,#eaa824)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaa824 0%,#eb8222 79%,#eaa824 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaa824 0%,#eb8222 79%,#eaa824 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaa824 0%,#eb8222 79%,#eaa824 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaa824 0%,#eb8222 79%,#eaa824 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaa824', endColorstr='#eaa824',GradientType=0 ); /* IE6-8 */

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	border: 0;
	color: white;
	margin-left: -3px;
	padding: 12px;
	width: auto;
}

.enviarPdf{
	float: right;
}

/*-- PIE DE PAGINA --*/
footer{
	border-top: 1px solid white;
	margin: 0 auto;
	padding: 20px;
	width: 960px;
	font-family: 'oswaldlight', arial;
	color: white;
	letter-spacing: 0.01em;
}

footer p{
	font-size: 0.9em;
}

footer a{
	color: white;
	text-decoration: none;
}

footer p:first-child{
	float: left;
}

footer p:last-child{
	float: right;
}
